.table{
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 1px;
    margin: auto;
    width: 100%;
}

#main-cont{
    display: flex;
    justify-content: center;
}

table{
    width: 99.5%;
    border-collapse: collapse;
}

th{
    background-color: green;
    text-align: left;
}

td{
    padding: 3px 0px 3px 5px ;
}
tfoot{
    background-color: rgb(220, 220, 220);
}